.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  width: 496px;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: CabinetGrotesk, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  margin: 24px 0 32px;
}

.modal__legend {
  margin-bottom: 4px;
}

.modal__label_type_radio {
  margin-top: 8px;
}

.modal__label_type_radio:hover {
  cursor: pointer;
}

.modal__close {
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  margin-top: 8px;
  padding: 0 0 4px;
  outline: none;
}

.modal__radio-input:hover {
  cursor: pointer;
}

.modal__submit {
  max-width: 124px;
  max-height: 36px;
  padding: 8px 0;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
}

.modal__submit:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #0000004d;
}
