.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  align-content: center;
}

.toggle-switch__checkbox {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  cursor: pointer;
}

.toggle-switch__circle {
  background-color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s;
}

.toggle-switch__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-switch__text_F {
  left: 9px;
  color: white;
  transition: all 0.1s;
}
.toggle-switch__text_C {
  right: 9px;
  transition: all 0.1s;
  color: #7e7e7e;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 27px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: #7e7e7e;
}
