.item__container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 324px;
}

.item__container-name {
  position: absolute;
  padding: 2px 12px;
  margin: 17px 0 0 0;
  font-size: 16px;
  background-color: white;
  border-radius: 4px;
  color: #00000099;
}

.item__container-img {
  width: 100%;
  border-radius: 16px;
}
