.header__navlink {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  padding: 32px 0 28px;
  font-size: 20px;
  font-weight: 550;
}

.header__user-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__user-text {
  gap: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.header__logo-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__logo {
  height: 40px;
  width: 89px;
}

.header__add-clothes-btn {
  border: none;
  background: none;
  font-weight: 550;
}
.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__avatar {
  height: 40px;
  width: 40px;
}

.header__username {
  color: black;
}

.header__date-and-location {
  color: black;
}
