.weatherCard {
  display: flex;
  align-items: center;
}

.weatherCard__temp {
  position: absolute;
  font-size: 36px;
  color: white;
  margin-left: 16px;
  font-weight: 700;
}

.weatherCard__deg {
  font-weight: 200;
  font-size: 0.7em;
  vertical-align: super;
  line-height: 1;
  position: relative;
  top: 0.2em;
}

.weatherCard__img {
  object-fit: contain;
  object-position: right top;
  width: 100%;
}
