.modal__image {
  object-fit: contain;
  max-width: 498px;
  max-height: 498px;
  overflow: hidden;
}

.pad__cancel {
  margin: -28px;
}

.modal__content-item {
  width: 498px;
  height: 610px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__close-item {
  padding: 10px;
  border-radius: 50%;
  background-color: gray;
  /* I thought the white without background looked kinda weird
   Added a circle btn style */
}

.modal__footer {
  margin-top: auto;
}

.modal__caption {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  padding-top: 12px;
}
