.modal__image {
  width: 100%;
  height: 498px;
  object-fit: cover;
  object-position: center;
}

.pad__cancel {
  margin: -28px;
}

.modal__content-item {
  width: 498px;
  height: 610px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__close-item {
  padding: 10px;
  border-radius: 50%;
  background-color: gray;
  /* I thought the white without background looked kinda weird
   Added a circle btn style */
}

.modal__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.modal__delete-button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 700;
  color: #ff4d00;
}

.modal__delete-button:hover {
  cursor: pointer;
}

.modal__caption {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  padding-top: 12px;
}
