.sidebar {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.sidebar__name {
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
  margin: 0;
  display: inline;
  white-space: nowrap;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}
