.clothes-section {
  font-size: 20px;
  font-weight: 600;
  width: 1015px;
}

.clothes-section__header {
  display: flex;
  padding-top: 15px;
  gap: 20px;
  margin-bottom: 16px;
}

.clothes-section__text {
  margin: 0;
}

.clothes-section__button {
  background: none;
  border: none;
  padding: 0;
  font-weight: 600;
  color: #00000099;
}
.clothes-section__button:hover {
  cursor: pointer;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
